.products::-webkit-scrollbar{
    display: none;
}

.categories::-webkit-scrollbar{
    display: none;
}

.populars::-webkit-scrollbar{
    display: none;
}

.shader{
    background: linear-gradient(to right bottom, #69628a, #040309);
}

/* Ensure the images are centered */
.product .image,
.cart-item .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ensure container dimensions for the images */
.product .image {
    width: 14rem;
    height: 13rem;
    border-radius: 1rem;
}

.cart-item .image {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

/* Ensure that the images in cart are centered properly */
.cart-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.cart-total {
    font-size: 1.1rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
}

/* modal animation */
  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.85);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes bounceOnce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
  }
  
  .animate-fadeInScale {
    animation: fadeInScale 0.4s ease-out forwards;
  }
  
  .animate-bounceOnce {
    animation: bounceOnce 0.5s ease;
  }

  